@model LanguageSearchRequest
@inject Localizer Localizer
@{
    string Controller = "Languages";

    ViewBag.Title = Localizer.Languages;
}

<div class="m-portlet m-portlet--mobile col-lg-12">
    <form asp-controller="@Controller" asp-action="IndexJson" method="GET" class="datatable_search_request_form">
        <!-- Hidden inputs go here - BEGIN -->

        <input name="IsDeleted" value="false" hidden />

        <!-- Hidden inputs go here - END -->
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        @Localizer.Languages
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools col-lg-12">
                <button class="btn btn-primary" data-ajax="true" href="@Url.Action("Add", Controller)" data-ajax-modal="modal-bs">
                    @Localizer.Add_language
                </button>
                <button class="btn btn-default" type="submit">
                    <span>@Localizer.Search<i class="la la-search m--margin-left-5"></i></span>
                </button>
                <div class="btn btn-default form_reset_button">
                    <span>@Localizer.Clear<i class="la la-minus-circle m--margin-left-5"></i></span>
                </div>
            </div>
        </div>
        <div class="m-portlet__head">
            <div class="custom-head-tools">
                <!-- Search options go here - BEGIN -->


                <div class="col-md-12 row">
                    <div class="col-md form-group">
                        <input asp-for="Name" placeholder="@Localizer.Name" class="form-control m-input">
                    </div>

                    <div class="col-md form-group">
                        <input asp-for="Code" placeholder="@Localizer.Code" class="form-control m-input">
                    </div>
                </div>


                <!-- Search options go here - END -->
            </div>
        </div>
    </form>
    <div class="m-portlet__body"><div class="datatable" data-url="@Url.Action("IndexJson", Controller)"></div></div>
</div>

<script>

    var columns = [
        {
            field: '@nameof(LanguageDTO.Name).ToCamelCase()',
            title: '@Localizer.Name',
        },
        {
            field: '@nameof(LanguageDTO.Code).ToCamelCase()',
            title: '@Localizer.Code',
        },
        {
            title: '@Localizer.Actions',
            template: function (row, index, datatable) {
                return `\
                    <div class="dropdown ' + ${(datatable.getPageSize() - index) <= 4 ? 'dropup' : ''} + '">
						<a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown">
                            <i class="la la-ellipsis-h"></i>
                        </a>
						<div class="dropdown-menu dropdown-menu-right">
						    <a data-ajax-modal="modal-bs" data-ajax="true" href="@Url.Action("Details", Controller)/${row.id}" class="dropdown-item">
                                <i class="la la-book"></i> @Localizer.Details
                            </a>
						    <a data-ajax-modal="modal-bs" data-ajax="true" href="@Url.Action("Edit", Controller)/${row.id}" class="dropdown-item">
                                <i class="la la-edit"></i> @Localizer.Edit
                            </a>
                            <a data-ajax-delete="true" href="@Url.Action("Delete", Controller)/${row.id}" data-ajax-id="${row.id}" class="dropdown-item">
                                <i class="la la-trash"></i> @Localizer.Delete
                            </a>
						</div>
					</div>
				`;
            },
            width: 100,
            sortable: false,
            field: 'Actions',
            overflow: 'visible',
            textAlign: 'center'
        }
    ];

    DatatableAjaxInit({
        element: ".datatable",
        searchRequestFormElement: ".datatable_search_request_form",
        columns: columns
    });

</script>